CANCEL_DIR=/home/longdh5/cms/cancel
CUSTOMER_DATA_DIR=/home/longdh5/cms/customer_data
REVENUE_DIR=/home/longdh5/cms/revenue

DB_HOST=localhost
DB_PORT=1433
DB_NAME=cms_db
DB_USER=sa
DB_PASSWORD=YourStrong@Password123
